* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-container {
    background-color: #000;
}

.header-container a {
    color: #fff;
    text-decoration: none;
}

.logo {
    font-family: "Anton", sans-serif;
    color: #fff;
}