// Base
@use "base/normalize" as *;
@use "base/variables" as *;
@use "base/mixins" as *;
@use "base/extend" as *;
@use "base/botones" as *;

// Secciones
@use "secciones/header";
@use "secciones/footer";

// Páginas
@use "paginas/index";
@use "paginas/contacto";
@use "paginas/habilidades";
@use "paginas/proyectos";
@use "paginas/quien-soy";



/*! MEDIA QUERY */

@media (max-width: 768px) {
    /* HEADER MOBILE*/

    #header {
        flex-direction: row;
        justify-content: space-between;
        padding: 0 20px;
    }

    .hamburguesa {
        display: block;
        margin-left: auto;
    }

    .header__nav ul {
        flex-direction: column;
        background-color: #000;
        position: absolute;
        top: 50px;
        left: 0;
        width: 100%;
        padding: 1rem;
        gap: 15px;
        align-items: center;
        display: none;
    }

    #menu-toggle:checked+.hamburguesa+.header__nav ul {
        display: flex;
    }

    .header__nav-item {
        font-size: 17px;
    }

    /*FOOTER MOBILE*/

    #footer {
        height: auto;
        padding: 20px 0;
    }

    .footer__container {
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
    }

    .footer__left {
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }

    .footer__info {
        border: none;
        margin-right: 0;
        padding-right: 0;
    }

    .footer__nombre {
        font-size: 20px;
    }

    .footer__rubro {
        font-size: 15px;
    }

    .footer__nav {
        grid-template-columns: 1fr;
        row-gap: 1rem;
        margin-top: 2rem;
    }

    .footer__nav-link {
        font-size: 17px;
    }

    .footer__right {
        margin-top: 2rem;
    }

    .footer__social {
        justify-content: center;
        gap: 1rem;
        flex-wrap: wrap;
    }

    /*MAIN MOBILE*/
    /*! PAGINA INDEX*/

    .perfil {
        flex-direction: column;
        text-align: center;
        padding: 20px;
    }

    .perfil__nombre {
        font-size: 40px;
    }

    .perfil__apellido {
        font-size: 60px;
    }

    .perfil__rubro {
        font-size: 20px;
    }

    .perfil__lenguajes {
        justify-content: center;
    }

    .perfil__icono-lenguajes {
        width: 40px;
    }

    .perfil__boton-contenedor {
        grid-template-columns: 1fr;
        gap: 15px;
    }

    .perfil__foto {
        padding: 15px;
        border-width: 3px;
        margin: 30px auto;
    }

    .perfil__img {
        width: 170px;
    }

    /*! CONTACTO */

    .contacto {
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .formulario,
    .perfil-contacto {
        width: 100%;
    }

    .formulario__contenedor {
        margin: 5px;
        padding: 20px;
    }

    .formulario__titulo {
        font-size: 30px;
    }

    .formulario__subtitulo {
        font-size: 15px;
    }

    .perfil-contacto {
        margin-bottom: 30px;
    }

    .contacto .perfil-contacto__foto {
        border: none;
        background-color: transparent;
        display: flex;
        justify-content: center;
        margin: 5px;
    }

    .perfil-contacto__img {
        width: 150px;
        height: auto;
        border-radius: 50%;
        box-shadow: 0px 0px 30px #000;
    }

    .perfil-contacto__nombre {
        font-size: 20px;
    }

    .perfil-contacto__apellido {
        font-size: 30px;
    }

    .perfil-contacto__rubro {
        font-size: 20px;
        text-align: center;
    }

    .perfil-contacto__lenguajes {
        gap: 10px;
        flex-wrap: wrap;
    }

    .perfil-contacto__icono-lenguajes {
        width: 50px;
    }

    /*! HABILIDADES */

    .habilidades {
        flex-direction: column;
        padding: 0 20px;
    }

    .habilidades__left,
    .habilidades__right {
        width: 100%;
    }

    .habilidades__lenguajes-lista,
    .habilidades__herramientas-adicionales-lista {
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }

    .habilidades__lenguajes-lista-item,
    .habilidades__herramientas-adicionales-item,
    .habilidades__otros-conocimientos-item {
        flex-direction: row;
        text-align: start;
        gap: 10px;
    }

    .habilidades__icono {
        width: 60px;
    }

    .habilidades__texto {
        font-size: 14px;
    }

    .habilidades__info-titulos {
        font-size: 25px;
    }

    .habilidades__info-descripcion {
        font-size: 16px;
    }

    .habilidades__lenguajes-lista-item,
    .habilidades__herramientas-adicionales-item {
        width: 90%;
    }

    .habilidades__otros-conocimientos-lista {
        gap: 5px;
    }

    .proyectos__container {
        grid-template-columns: 1fr;
        gap: 2rem;
        padding: 0;
        padding-bottom: 40px;
    }

    /*! PROYECTOS */

    .proyectos {
        padding: 20px;
    }

    .proyectos__titulo {
        font-size: 35px;
    }

    .proyectos__contenedor {
        grid-template-columns: 1fr;
        padding: 10px;
        gap: 15px;
    }

    .proyectos__item-titulo {
        font-size: 18px;
    }

    .proyectos__item-descripcion {
        font-size: 15px;
    }

    /*! QUIEN SOY */

    .quien-soy {
        align-items: center;
        text-align: center;
        flex-direction: column;
        padding: 20px;
        gap: 30px;
    }

    .quien-soy__foto {
        background-color: transparent;
        border: none;
    }

    .quien-soy__img {
        width: 150px;
        height: auto;
        border-radius: 50%;
        box-shadow: 0px 0px 30px #000;
    }

    .quien-soy__nombre {
        font-size: 30px;
    }

    .quien-soy__apellido {
        font-size: 30px;
    }

    .quien-soy__texto-container {
        font-size: 16px;
    }

    .quien-soy__boton-contenedor {
        flex-direction: column;
        align-items: center;
        order: 3;
    }

    .quien-soy__boton-llamadores {
        width: 100%;
        max-width: 250px;
    }

    .quien-soy__img-container {
        order: 1;
    }

    .quien-soy__info {
        order: 2;
    }
}

@media (min-width: 600px) and (max-width: 768px) {}

