@use "../base/variables" as *;
@use "../base/mixins" as *;

.contacto {
    display: flex;
    justify-content: space-around;
    align-items: center;

    @include mobile {
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    @include tablet {
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .formulario {
        width: 50%;

        @include mobile {
            width: 100%;
        }

        @include tablet {
            width: 100%;
        }

        &__contenedor {
            margin: 80px 15px;
            padding: 25px 20px;
            background-color: $background-color-black-opacity;
            border: 5px solid #fff;
            border-radius: 20px;
            transition: border 0.3s ease;

            @include mobile {
                margin: 5px;
                padding: 20px;
            }

            @include tablet {
                margin: 5px;
                padding: 20px;
            }
        }

        &__titulo {
            margin-bottom: 10px;
            font-family: $estilo-tipografia-anton;
            font-size: 55px;
            letter-spacing: 3px;
            transition: color 0.3s ease;
            text-align: center;
            color: $color-tipografia-white;

            @include mobile {
                font-size: 35px;
            }

            @include tablet {
                font-size: 60px;
            }
        }

        &__subtitulo {
            margin-bottom: 20px;
            font-family: $estilo-tipografia-abel;
            font-size: 20px;
            letter-spacing: 2px;
            text-align: center;
            color: $color-tipografia-white;

            @include mobile {
                font-size: 20px;
            }

            @include tablet {
                font-size: 28px;
            }
        }

        &__label {
            display: block;
            margin-bottom: 20px;
            color: $color-tipografia-white;
            font-family: $estilo-tipografia-abel;
            font-size: 18px;

            @include mobile {
                font-size: 18px;
                margin-bottom: 25px;
            }

            @include tablet {
                font-size: 22px;
                margin-bottom: 35px;
            }
        }

        &__input,
        &__textarea {
            display: block;
            width: 100%;
            margin-top: 5px;
            padding: 6px 8px;
            font-size: 15px;
            border: 1px solid #b1b1b1;
            box-shadow: 0px 0px 15px #0003;
            background-color: transparent;
            border-radius: 4px;
            color: $color-tipografia-white;
            outline: none;

            @include mobile {
                font-size: 15px;
            }

            @include tablet {
                font-size: 18px;
            }
        }

        &__input::placeholder,
        &__textarea::placeholder {
            color: $color-tipografia-white;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 14px;
            opacity: 0.7;

            @include mobile {
                font-size: 12px;
            }

            @include tablet {
                font-size: 16px;
            }
        }

        &__textarea {
            height: 100px;
            resize: none;
        }

        &__boton-enviar {
            display: block;
            margin: 20px auto 0 auto;
            padding: 10px 25px;
            border: 1px solid #b1b1b1;
            border-radius: 50px;
            background-color: $background-color-black-opacity;
            color: $color-tipografia-white;
            font-family: $estilo-tipografia-abel;
            font-size: 18px;
            letter-spacing: 1px;
            transition: border 0.3s ease, scale 0.3s ease;

            @include mobile {
                font-size: 20px;
                padding: 15px 30px;
                margin-bottom: 20px;
            }

            @include tablet {
                font-size: 24px;
                padding: 12px 30px;
                margin-bottom: 20px;
            }
        }
    }

    .perfil-contacto {
        display: flex;
        flex-direction: column;
        align-items: center;

        @include mobile {
            width: 100%;
            margin-bottom: 30px;
        }

        @include tablet {
            width: 100%;
            margin-bottom: 30px;
        }

        &__info-personal {
            flex-direction: column;
            color: $color-tipografia-white;
            text-shadow: 0px 0px 20px rgba(0, 0, 0, 1);
        }

        &__foto {
            padding: 20px;
            border: 5px solid #fff;
            border-radius: 15%;
            margin: 15px;
            display: inline-block;
            background-color: $background-color-black-opacity;

            @include mobile {
                border: none;
                background-color: transparent;
                display: flex;
                justify-content: center;
                margin: 5px;
            }

            @include tablet {
                border: none;
                background-color: transparent;
                display: flex;
                justify-content: center;
                margin: 5px;
            }

            .perfil-contacto__img {
                @include agus-img(200px, 200px, 175px, 175px, 260px, 260px, 10%, 50%, 50%, true);

                @include mobile {
                    margin: 30px 0px 5px 0px;
                }

                @include tablet {
                    margin: 30px 0px 5px 0px;
                }
            }
        }

        &__lenguajes {
            margin-top: 10px;
            justify-content: center;
            display: flex;
            gap: 15px;

            @include mobile {
                gap: 15px;
                flex-wrap: wrap;
            }

            @include tablet {
                gap: 20px;
                flex-wrap: wrap;
            }

            .perfil-contacto__icono-lenguajes {
                @include icono-lenguajes(60px, 60px, 55px, 55px, 80px, 80px);

            }
        }

        &__nombre-completo {
            line-height: 1.1;
            text-align: center;
            margin-bottom: 2px;

            .perfil-contacto__nombre {
                font-size: 40px;
                font-weight: bold;
                letter-spacing: 2px;
                margin-bottom: 5px;
                font-family: $estilo-tipografia-abel;

                @include mobile {
                    font-size: 36px;
                }

                @include tablet {
                    font-size: 45px;
                }
            }

            .perfil-contacto__apellido {
                font-size: 45px;
                font-family: $estilo-tipografia-anton;
                letter-spacing: 5px;

                @include mobile {
                    font-size: 50px;
                }

                @include tablet {
                    font-size: 50px;
                }
            }
        }

        .perfil-contacto__rubro {
            letter-spacing: 5px;
            font-weight: bold;
            font-size: 28px;
            text-shadow: 1px 1px rgba(0, 0, 0, 1);
            font-family: $estilo-tipografia-abel;

            @include mobile {
                font-size: 25px;
                text-align: center;
            }

            @include tablet {
                font-size: 35px;
                text-align: center;
            }
        }
    }
}

@media (hover: hover) and (pointer: fine) {

    .formulario {

        &__contenedor:hover {
            border: 5px solid $color-2;

            .formulario__titulo {
                color: $color-2;
            }
        }

        &__boton-enviar:hover {
            border: 1px solid $color-2;
            scale: 1.05;
            cursor: pointer;
        }
    }
}