@use "../base/variables" as *;
@use "../base/mixins" as *;


.habilidades {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
    padding: 50px;

    @include mobile {
        flex-direction: column;
        padding: 0 20px;
    }

    @include tablet {
        flex-direction: column;
        padding: 0 50px;
    }

    /* LADO IZQUIERDO */
    &__left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 60%;

        @include mobile {
            width: 100%;
        }

        @include tablet {
            width: 100%;
        }

        .habilidades__info-titulos {
            position: relative;
            top: 35px;
            left: 0;
            width: 100%;
            padding: 25px 20px;
            background-color: $background-color;
            border: 5px solid $color-2;
            border-radius: 20px;
            font-family: $estilo-tipografia-abel;
            color: $color-tipografia-white;
            font-size: 30px;
            letter-spacing: 3px;
            text-align: center;
            z-index: 2;

            @include mobile {
                font-size: 28px;
            }

            @include tablet {
                font-size: 40px;
            }
        }

        .habilidades__info-descripcion {
            padding: 40px 20px 25px 20px;
            background-color: $background-color-black-opacity;
            border: 3px solid #fff;
            border-radius: 20px;
            font-family: $estilo-tipografia-abel;
            color: $color-tipografia-white;
            font-size: 18px;
            letter-spacing: 1px;
            position: relative;
            z-index: 1;
            text-align: center;

            @include mobile {
                font-size: 20px;
            }

            @include tablet {
                font-size: 30px;
            }
        }

        ul {
            &.habilidades__otros-conocimientos-lista {
                list-style-type: none;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                gap: 15px;
                margin: 25px 0;
                justify-content: center;
                align-items: center;

                @include mobile {
                    flex-direction: row;
                    text-align: start;
                    gap: 20px;
                }

                @include tablet {
                    gap: 20px;
                }

                li.habilidades__otros-conocimientos-item {
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    text-align: center;
                    border-radius: 10px;
                    padding: 10px;

                    @include mobile {
                        gap: 10px;
                    }

                    @include tablet {
                        gap: 10px;
                    }

                    .habilidades__conocimientos-icono {
                        @include icono-lenguajes(80px, 60px, 60px);
                        margin-bottom: 10px;
                        filter: drop-shadow(0 0 1px #fff);

                        @include mobile {
                            margin-bottom: 0;
                        }

                        @include tablet {
                            margin-bottom: 0;
                        }
                    }
                }
            }

            &.habilidades__lenguajes-lista,
            &.habilidades__herramientas-adicionales-lista {
                list-style-type: none;
                display: flex;
                flex-direction: row;
                gap: 40px;
                margin: 25px 0;

                @include mobile {
                    flex-direction: column;
                    gap: 20px;
                }

                @include tablet {
                    flex-direction: column;
                    gap: 20px;
                }

                li.habilidades__lenguajes-lista-item,
                li.habilidades__herramientas-adicionales-item {
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    text-align: center;
                    border-radius: 10px;
                    padding: 35px;
                    background-color: $background-color-black-opacity;
                    box-shadow: 0 0 10px #fff;
                    color: $color-tipografia-white;
                    font-family: $estilo-tipografia-abel;
                    font-size: 14px;

                    @include mobile {
                        gap: 10px;
                    }

                    @include tablet {
                        gap: 10px;
                    }

                    @include mobile {
                        width: 100%;
                        flex-direction: row;
                        gap: 20px;
                        align-items: center;
                        text-align: start;
                    }

                    @include tablet {
                        width: 100%;
                        flex-direction: row;
                        gap: 20px;
                        align-items: center;
                        text-align: start;
                    }

                    .habilidades__icono {
                        width: 80px;
                        height: auto;
                        margin-bottom: 20px;
                        filter: drop-shadow(0 0 1px #fff);

                        @include mobile {
                            width: 60px;
                        }

                        @include tablet {
                            width: 60px;
                        }
                    }

                    .habilidades__texto {
                        font-size: 16px;

                        @include mobile {
                            font-size: 18px;
                        }

                        @include tablet {
                            font-size: 25px;
                        }
                    }
                }
            }
        }
    }

    /* LADO DERECHO */

    &__right {
        width: 40%;

        @include mobile {
            width: 100%;
        }

        @include tablet {
            width: 100%;
        }

        .habilidades__proyectos-container {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            gap: 3rem;
            padding: 20px;

            @include mobile {
                grid-template-columns: 1fr;
                gap: 2rem;
                padding: 0;
                padding-bottom: 40px;
            }

            @include tablet {
                grid-template-columns: 1fr;
                gap: 2rem;
                padding: 0;
                padding-bottom: 40px;
            }

            .habilidades__proyectos-container-item {
                position: relative;
                cursor: pointer;
                border-radius: 20px;
                border: 3px solid #fff;
                transition: transform 0.5s ease, border-color 0.5s ease;
                overflow: hidden;

                &:hover {
                    transform: scale(1.05);
                    border-color: $color-2;

                    &:hover .habilidades__proyecto-estilo-hover-texto {
                        opacity: 1;
                    }
                }

                @media (hover: none),
                (pointer: coarse) {
                    &:hover {
                        transform: none !important;
                        border-color: #fff !important;

                        .habilidades__proyecto-estilo-hover-texto {
                            opacity: 0 !important;
                        }
                    }
                }


                .habilidades__proyectos-estilo-hover {
                    position: relative;

                    img {
                        width: 100%;
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }

                    .habilidades__proyecto-estilo-hover-texto {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        color: $color-tipografia-white;
                        font-family: $estilo-tipografia-abel;
                        text-shadow: 1px 1px rgba(0, 0, 0, 1);
                        background-color: rgb(233, 183, 103, 0.8);
                        padding: 1rem 1.5rem;
                        border-radius: 10px;
                        opacity: 0;
                        transition: opacity 0.5s ease;
                        text-align: center;
                        font-size: 1.2rem;
                    }
                }
            }
        }
    }
}