@use "../base/variables" as *;
@use "../base/mixins" as *;


.perfil {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    min-height: calc(100vh - 50px);
    padding: 50px;

    @include mobile {
        flex-direction: column;
        text-align: center;
        padding: 20px;
    }

    @include tablet {
        flex-direction: column;
        text-align: center;
        padding: 20px;
    }

    .perfil__nombre-completo {
        line-height: 0.9;
        margin-bottom: 15px;

        @include mobile {
            line-height: 1;
        }

        @include tablet {
            line-height: 1;
        }
    }

    .perfil__nombre {
        font-size: 50px;
        color: $color-tipografia-white;
        font-weight: bold;
        letter-spacing: 2px;
        margin-bottom: 5px;
        text-shadow: 0px 0px 20px rgba(0, 0, 0, 1);
        font-family: $estilo-tipografia-abel;

        @include mobile {
            font-size: 40px;
        }

        @include tablet {
            font-size: 70px;
        }
    }

    .perfil__apellido {
        font-size: 80px;
        color: $color-tipografia-white;
        text-shadow: 0px 0px 20px rgba(0, 0, 0, 1);
        font-family: $estilo-tipografia-anton;
        letter-spacing: 5px;

        @include mobile {
            font-size: 50px;
        }

        @include tablet {
            font-size: 90px;
        }
    }

    .perfil__rubro {
        margin-top: 5px;
        letter-spacing: 8px;
        color: $color-tipografia-white;
        text-shadow: 0px 0px 20px rgba(0, 0, 0, 1);
        font-weight: bold;
        font-size: 30px;
        text-shadow: 1px 1px rgba(0, 0, 0, 1);
        font-family: $estilo-tipografia-abel;

        @include mobile {
            font-size: 25px;
        }

        @include tablet {
            font-size: 50px;
        }
    }

    .perfil__lenguajes {
        margin-top: 20px;
        display: flex;
        gap: 15px;

        @include mobile {
            justify-content: center;
        }

        @include tablet {
            justify-content: center;
            gap: 35px;
        }
    }

    .perfil__icono-lenguajes {
        @include icono-lenguajes(60px, 55px, 80px);
    }

    .perfil__boton-contenedor {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        margin: 20px auto 0 auto;

        @include mobile {
            grid-template-columns: 1fr;
            gap: 15px;
            margin: 40px auto 0 auto;
        }

        @include tablet {
            grid-template-columns: 1fr;
            gap: 15px;
            margin: 40px auto 0 auto;
        }

        .perfil__boton-llamadores {
            text-align: center;
            padding: 10px 25px;
            border: 1px solid #b1b1b1;
            border-radius: 25px;
            color: $color-tipografia-white;
            font-size: 15px;
            letter-spacing: 1px;
            transition: border 0.3s ease, scale 0.3s ease;
            text-decoration: none;
            background-color: $background-color-black-opacity;
            font-family: $estilo-tipografia-abel;

            @include mobile {
                font-size: 18px;
                padding: 8px 20px;
            }

            @include tablet {
                font-size: 25px;
                padding: 10px 25px;
            }

            &:nth-child(3) {
                grid-column: 1 / -1;
            }

            @media (hover: hover) and (pointer: fine) {
                &:hover {
                    border: 1px solid $color-2;
                    scale: 1.05;
                    cursor: pointer;
                }
            }
        }
    }

    .perfil__foto {
        padding: 20px;
        border: 5px solid #fff;
        border-radius: 15%;
        margin: 15px;
        display: inline-block;
        background-color: $background-color-black-opacity;

        @include mobile {
            padding: 15px;
            border-width: 3px;
            margin: 30px auto;
        }

        @include tablet {
            padding: 25px;
            border-width: 3px;
            margin: 30px auto;
        }

        .perfil__img {
            @include agus-img(200px, 200px, 170px, 170px, 250px, 250px);
        }
    }
}