@use "../base/variables" as *;
@use "../base/mixins" as *;


.quien-soy {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
    padding: 50px;

    @include mobile {
        align-items: center;
        text-align: center;
        flex-direction: column;
        padding: 20px;
        gap: 30px;
    }

    @include tablet {
        align-items: center;
        text-align: center;
        flex-direction: column;
        padding: 20px;
        gap: 30px;
    }

    &__img {
        @include agus-img(200px, 150px, 220px, 10%, 50%, 50%, true);
    }

    &__nombre-completo {
        text-align: center;
        line-height: 0.9;
        margin-bottom: 15px;
    }

    &__nombre {
        font-family: $estilo-tipografia-abel;
        font-size: 50px;
        display: block;
        font-weight: bold;
        letter-spacing: 2px;
        margin-bottom: 5px;
        color: $color-tipografia-white;
        text-shadow: 0px 0px 20px rgba(0, 0, 0, 1);

        @include mobile {
            font-size: 35px;
        }

        @include tablet {
            font-size: 55px;
        }
    }

    &__apellido {
        font-size: 50px;
        display: block;
        color: $color-tipografia-white;
        text-shadow: 0px 0px 20px rgba(0, 0, 0, 1);
        font-family: $estilo-tipografia-anton;
        letter-spacing: 5px;

        @include mobile {
            font-size: 40px;
        }

        @include tablet {
            font-size: 65px;
        }
    }

    &__rubro {
        display: block;
        text-align: center;
        background-color: $background-color;
        border: 5px solid $color-2;
        border-radius: 20px;
        padding: 20px;
        font-size: 30px;
        color: $color-tipografia-white;
        font-family: $estilo-tipografia-abel;
        font-weight: bold;
        text-shadow: 0px 0px 20px rgba(0, 0, 0, 1);

        @include mobile {
            font-size: 25px;
        }

        @include tablet {
            font-size: 50px;
        }
    }

    &__texto-container {
        background-color: $background-color-black-opacity;
        border: 5px solid #fff;
        border-radius: 20px;
        padding: 20px;
        font-family: $estilo-tipografia-abel;
        color: $color-tipografia-white;
        font-size: 20px;
        letter-spacing: 1px;
        text-align: center;
        text-shadow: 0px 0px 6px rgba(0, 0, 0, 1);

        @include mobile {
            font-size: 18px;
        }

        @include tablet {
            font-size: 28px;
        }
    }

    &__texto {
        margin-top: 1rem;
    }

    &__llamador-texto {
        font-family: $estilo-tipografia-abel;
        color: $color-tipografia-white;
        font-size: 27px;
        letter-spacing: 1px;
        text-align: center;
        text-shadow: 0px 0px 6px rgba(0, 0, 0, 1);

        @include mobile {
            font-size: 22px;
        }

        @include tablet {
            font-size: 35px;
        }

        .span-llamador {
            font-weight: bold;
            color: $color-2;
        }
    }

    &__container-llamadores {
        display: flex;
        flex-direction: column;
        align-items: anchor-center;
        gap: 3rem;
        margin: 3rem auto 0 auto;
    }

    &__boton-llamadores {
        text-align: center;
        padding: 10px 25px;
        border: 1px solid #b1b1b1;
        border-radius: 25px;
        color: $color-tipografia-white;
        font-size: 15px;
        letter-spacing: 1px;
        transition: border 0.3s ease, scale 0.3s ease;
        text-decoration: none;
        background-color: $background-color-black-opacity;
        font-family: $estilo-tipografia-abel;

        @media (hover: hover) and (pointer: fine) {
            &:hover {
                border: 1px solid $color-2;
                scale: 1.05;
                cursor: pointer;
            }
        }

        @include mobile {
            width: 100%;
            max-width: 250px;
            font-size: 18px;
        }

        @include tablet {
            width: 100%;
            max-width: 250px;
            font-size: 25px;
        }


    }

    &__foto {
        padding: 20px;
        border: 5px solid #fff;
        border-radius: 15%;
        margin: 15px;
        display: inline-block;
        background-color: $background-color-black-opacity;

        @include mobile {
            background-color: transparent;
            border: none;
        }

        @include tablet {
            background-color: transparent;
            border: none;
        }
    }

    &__boton-contenedor {
        display: flex;
        gap: 20px;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;

        @include mobile {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 0 auto;
        }
    }
}