@use "../base/variables" as *;
@use "../base/extend" as *;
@use "../base/mixins" as *;

#header {
    @extend %flex-center-between;
    position: sticky;
    top: 0;
    z-index: 1000;
    height: 50px;
    padding: 0 40px;
    flex-direction: row-reverse;
    background-color: #000;
    border-bottom: 5px solid $color-1;

    @include mobile {
        flex-direction: row;
        justify-content: space-between;
        padding: 0 20px;
    }

    @include tablet {
        flex-direction: row;
        justify-content: space-between;
        padding: 0 20px;
    }


    a {
        text-decoration: none;
    }

    .header__logo {
        font-size: 30px;
        color: $color-tipografia-white;
        font-family: $estilo-tipografia-anton;
    }
}

.header__nav {
    ul {
        list-style: none;
        display: flex;
        gap: 3rem;

        @include mobile {
            flex-direction: column;
            background-color: #000;
            position: absolute;
            top: 50px;
            left: 0;
            width: 100%;
            padding: 1rem;
            gap: 15px;
            align-items: center;
            display: none;
        }
        @include tablet {
        flex-direction: column;
            background-color: #000;
            position: absolute;
            top: 50px;
            left: 0;
            width: 100%;
            padding: 1rem;
            gap: 15px;
            align-items: center;
            display: none;
    }
    }
}

.header__nav-item {
    font-family: $estilo-tipografia-abel;
    font-size: 14px;
    color: $botones-header-item;
    letter-spacing: 2px;
    display: inline-block;
    padding-bottom: 2px;
    transition: color 0.3s ease, border-bottom 0.3s ease-in-out;

    @media (hover: hover) and (pointer: fine) {
        &:hover {
            border-bottom: 1px solid $color-2;
            color: $color-2;
        }
    }

    @include mobile {
        font-size: 17px;
    }

    @include tablet {
        font-size: 17px;
    }
}

.menu-toggle {
    display: none;
}

.hamburguesa {
    font-size: 30px;
    color: white;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    outline: none;
    user-select: none;
    display: none;

    @include mobile {
        display: block;
        margin-left: auto;
    }

    @include tablet {
        display: block;
        margin-left: auto;
    }
}

@include mobile {
    #menu-toggle:checked+.hamburguesa+.header__nav ul {
        display: flex;
    }
}

@include tablet {
    #menu-toggle:checked+.hamburguesa+.header__nav ul {
        display: flex;
    }
}