/*colores*/
$background-color: #181818;
$background-color-black-opacity: rgba(28, 28, 28, 0.8);
$color-tipografia-white: #fff;
$color-1: #b08745;
$color-2: rgb(233, 183, 103);
$botones-header-item: rgba(255, 255, 255, 0.959);

    /**tipografia*/
$estilo-tipografia-anton: "Anton", sans-serif;
$estilo-tipografia-abel: "Abel", sans-serif;
